<form action="/create" method="post">
  <h2>Create todo</h2>

  <div class="input-field">
    <input type="text" placeholder="Task title" name="title">
  </div>

  <button class="btn" type="submit">Create</button>
</form>